 .about-hero{
    width: 100vw;
    height: 377px;
    background: #D9D9D9;
    }
.about-nav{
    background: #000;
    width: 100%;
    overflow-x: auto;
    }
.about-nav-items{
    min-width: 240px;
    padding: 0 1rem;
    height: 62px;
    background: #000;
    color: #fff;
    border-right: #D9D9D9 solid 1px;
    font-weight: 700;
    font-size: 24px;
    line-height: 62px;
    text-align: center;
    }
.sec-head-about, .sec-head-vision, .sec-head-mission, .sec-head-faq{
    display: flex;
    align-items: baseline;
    margin: 2.5rem 0;
    }
.sec-head-about > h1, .sec-head-vision > h1{
    font-weight: 700;
    font-size: 100px;
    line-height: 118px;
    color: #F8FFA8;
    }
.sec-head-about> p, .sec-head-vision > p, .sec-head-mission > p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 3rem;
    }
.black-body{
    width: 100vw;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    }
.vision-card{
    width: 30vw;
    height: calc(30vw * 0.7066);
    border-radius: 0px 0px 9vw 0px;
    background-color: #FFFFFF;
    font-family: 'Inika';
    font-weight: 400;
    font-size: 4vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.vision-card > .description{
    font-size: 1.8vw;
    padding: 2vw 4vw 2vw 2vw;
    height: 100%;
    overflow-y: auto;
}
.Justice-card{
    background: #00AEC0;
    }
.Liberation-card{
    background: #FF7A00;
    }
.Love-card{
    background: #EBFF00;
    }
.vision-card > img{
    max-width: 147px;
    width: 7vw;
    position: absolute;
    bottom: 0;
    right: 0;
    }
.card-stack{
    width: 100vw;
    justify-content:space-evenly;
    }
.mission-l-text, .mission-r-text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    }
.sec-head-mission{
    display: flex;
    align-items: start;
    margin: 2.5rem 0;
    }
.sec-head-mission > h1{
    width: 700px;
    text-align: start;
    font-weight: 700;
    font-size: 100px;
    line-height: 118px;
    color: #F8FFA8;
    }
.sec-head-mission> p{
    width: 578px;
    }
.mission-l-text{
    width: 494px;
    height: 330px;
    border-radius: 0px 165px 165px 0px;
    }
.mission-r-text{
    width: 494px;
    height: 330px;
    border-radius: 165px 0px 0px 165px;
    }
.mission-img{
    width: 100vw;
    background: #D9D9D9;
    margin: 1rem 0;
    }
.mission-one > .mission-img >.mission-l-text{
    background-color: #C0F9FF;
    }
.mission-two > .mission-img >.mission-r-text{
    background-color: #FF7900;
    }
.mission-three > .mission-img >.mission-l-text{
    background-color: #00ADBF;
    }
.likes{
    width: 100vw;
    background-image: url('/static/img/earth.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 400px;
    }
.likes > h1{
    max-width: 896px;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 62px;
    line-height: 73px;
    text-align: center;
    color: #FFFFFF;
    }
.likes > h2{
    margin-top: 3rem;
    max-width: 611px;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    padding-left: 1rem;
    }
.like-this{
    color: #1B733E;
    }
.unlike-this{
    color: #A95100;
    }
.likes > ul > li{
    max-width: 553px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 1rem;
    }
.like-this-list > li, .unlike-this-list > li{
    position: relative;
    padding-left: 1.5em;
    }
.like-this-list > li::before, .unlike-this-list > li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0.7em;
    transform: translateY(-50%);
    width: 1em;
    height: 1em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    }
.like-this-list > li::before{
    background-image: url('/static/img/like.svg');
    }
.unlike-this-list > li::before{
    background-image: url('/static/img/unlike.svg');
    }
.sec-head-principles > h1{
    font-weight: 700;
    font-size: 100px;
    line-height: 118px;
    color: #FFFFFF;
    text-align: start;
    margin: 3rem 0;
    text-align: center;
    }
.operating-principle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
.principle{
    position: relative;
    max-width: 529px;
    min-width: 200px;
    min-height: 187.256px;
    width: 100vw;
    height: 565px;
    background-image: url('/static/img/tablet.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7rem 4.5rem 0 4.5rem;
    margin: 1rem 0;
    }
.principle > h3{
    position: absolute;
    left: 48%;
    top: 1.8rem;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    }
.principle > h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    }
.principle > p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 1.5rem;
    }
#tab9{
    max-width: none;
    width: 761px;
    height: 813px;
    background-size: contain;
    padding: 10rem 6rem 0 6rem;
    }
#tab9 > h3{
    top: 3rem;
    }
.sec-head-faq {
    align-items: center;
    }
.sec-head-faq > h1{
    font-weight: 700;
    font-size: 100px;
    line-height: 118px;
    color: #FFFFFF;
    margin-bottom: 2rem;
    }
.sec-head-faq > input{
    max-width: 410px;
    width: 90vw;
    height: 62px;
    border: 1px solid #000000;
    border-radius: 100px;
    padding-left: 2rem;
    }
.sec-head-faq > input::placeholder{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #3B3B3B;
    }
.faq-container {
    max-width: 979px;
    width: 90vw;
    }
.faq-item {
    margin: 1rem 0;
    }
.faq-question {
    max-width: 979px;
    width: 90vw;
    height: 61px;
    background: #C1F9FF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    padding: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
.faq-question:hover {
    background-color: #fff;
    }
.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-width: 979px;
    width: 90vw;
    height: 61px;
    font-family: 'Inter';
    background-color: #fff;
    }
.faq-answer p {
    padding: 15px;
    margin: 0;
    }
.faq-question.active + .faq-answer {
    background-color: #fff;
    max-height: 1000px; /* Adjust this value based on your content */
    }

@media (max-width: 1000px) {
    .sec-head-about, .sec-head-vision, .sec-head-mission, .sec-head-faq{
        flex-direction: column;
    }
    .sec-head-mission > h1{
        width: fit-content;
    }
    .sec-head-about > p, .sec-head-vision > p, .sec-head-mission > p, .sec-head-principle > p, .sec-head-faq > p{
        margin: 0;
        width: fit-content;
    }
    .mission-l-text{
        min-width: 225px;
        width: 40vw;
        padding: 0 2rem 0 0.5rem;
        }
    .mission-r-text{
        min-width: 225px;
        width: 40vw;
        padding: 0 0.5rem 0 2rem;
        text-align: right;
        }
    .sec-head-principles{
        width: 100%;
    }
    #tab9{
        width: 100vw;
        height: 100vw;
        padding: 10rem 7rem 0 7rem;
        }
        
}
@media (max-width: 660px) {
    .about-nav-items{
        min-width: fit-content;
        padding: 0 0.5rem;
        font-size: calc(7px + 2vw);
        }
    .sec-head-about > h1, .sec-head-vision > h1, .sec-head-mission > h1, .sec-head-principles > h1, .sec-head-faq > h1{
        font-size: 4rem !important;
        width: fit-content;
    }
    .principle{
        max-height: 565px;
        height: calc(115vw);
        }
    .principle > h3{
        margin: 0;
        }
    .principle > p{
        font-size: 12px;
        line-height: 15px;
        margin-top: 1.5rem;
        }
    #tab9{
        height: 105vw;
        padding: calc(1rem + 10vw) 20vw 0 17vw;
        }
    #tab9 > h3{
        top: calc(10px + 2vw);
        }
    #tab9 > p{
        margin-top: 0.5rem;
        }
    #tab9 > h2{
        font-size: 20px;
        line-height: 20px;
        }
}
@media (max-width: 385px) {
    .principle{
        padding: 5rem 3.5rem 0 3.5rem;
        }
    #tab9{
        padding: 5rem 3.5rem 0 3rem;
        }
    #tab9 > p{
        display: none;
        }
}