:root{
    --primary-colour: #fff
    }
.blog-hero{
    width: 100vw;
    height: 377px;
    background: #D9D9D9;
    }
.blog-nav{
    background: #000;
    width: 100%;
    }
.blog-nav-items{
    min-width: 240px;
    padding: 0 1rem;
    height: 62px;
    background: #000;
    color: #fff;
    border-right: #D9D9D9 solid 1px;
    font-weight: 700;
    font-size: 24px;
    line-height: 62px;
    text-align: center;
    }
.sec-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5rem 0;
    }
.sec-head > h1{
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    }
.sec-head > div{
    display: flex;
    text-align: center;
}
.sec-head > div > label{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-right: 1rem;
    }
.blog-article{
    max-width: 1264px;
    max-height: fit-content;
    width: 80vw;
    background: #C1F9FF;
    border-radius: 0px 0px 165px 0px;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 90% 10%;
    position: relative;
    justify-items: center;
    }
.blog-article > div{
    padding: 2rem 2rem 0 2rem;
    }
.blog-article > div > h2{
    font-family: 'Inika';
    font-weight: 400;
    font-size: calc(30px + 1.5vw);
    line-height: calc(35px + 2vw);
    color: #000000;
    }
.blog-article > div > p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    }
.blog-article > div > label{
    width: 331px;
    height: 62px;
    background: #000000;
    font-weight: 700;
    font-size: 24px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    bottom: -2rem;
    }
.blog-article > a{
    /* position: relative; */
    /* margin-top: auto; */
    /* left: 10px; */
    width: 15vw;
    min-width: 5rem;
    height: calc(15vw * 0.4615);
    background: #00BEFA;
    border: 1px solid #000000;
    border-radius: 4.5vw 0px 0px 0px;
    text-align: center;
    font-weight: 700;
    font-size: calc(16px + 0.5vw);
    line-height: calc(15vw * 0.4615);
    color: #000000;
    grid-column: 2;
    grid-row: 2;
    align-self: end;
    margin-right: 1rem;
    }
.blog-article > a:hover{
    color: #00BEFA;
    background: #000000;
    border-color: #00BEFA;
    }

@media (max-width: 660px) {
    .blog-nav-items{
        min-width: fit-content;
        padding: 0 0.5rem;
        font-size: calc(7px + 2vw);
        }
    .blog-article > div > label{
        width: 50vw;
        height: calc(50vw * 0.1873);
        font-size: calc(10px + 2vw);
        line-height: calc(50vw * 0.1873);
        left: 3vw
        }
    .blog-article > div{
        padding: 1rem;
        width: 100%;
        }
    .blog-article{
        justify-items: end;
        }
    .sec-head{
        flex-direction: column;
        }
}
@media (max-width: 400px) {
    .blog-article > a{
        line-height: calc(5rem * 0.4615);
        min-height: calc(5rem * 0.4615);
    }
}
