.nav-bar{
    position: fixed;
    z-index: 9;
    padding-top: 0.5rem;
    background: url(/static/img/planet.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 0;
    box-shadow: none;
    }
.logo{
    background: none;
}
.hero-small-text{
    padding: 0 1rem 0 0;
    font-family: 'Jura';
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
.hero-large-text{
    font-family: 'Inika';
    font-weight: 400;
    font-size: 84px;
    line-height: 109px;
    text-align: center;
    color: #FFFFFF;
}
.large-text-box{
    margin: 0.5rem;
}
.urgent-button{
    padding: 10px;
    width: 264px;
    height: 59px;
    background: #FF7A00;
    border: 3px solid #EBFF00;
    border-radius: 100px;
    color: #000000;
}
.urgent-button:hover{
    background: #000000;
    border: 3px solid #EBFF00;
    color: #FF7A00;
}
.hero-section{
    background-image: url(/static/img/planet.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 0;
    padding-top: 20vh;
}

.img-cont1{
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    margin: 2rem;
}
.text-cont1{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img1{
    max-width: 588px;
    width: 50vw;
    height: 400px;
    background: #D9D9D9;
    border-radius: 0px 200px 200px 0px;
}
.img1-txt{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 1rem;
}

.img-cont2{
    margin-top: 2rem;
    width: 100vw;
    height: 522px;
    background: #D9D9D9;
}
.img2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.img2-button{
    height: 174px;
    border: 1px solid #FFFFFF;
    border-radius: 87px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6rem;
    font-family: 'Jura';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.button-one{
    width: 377px;
    background: #EBFF00;
}
.button-two{
    width: 468px;
    background: #FF7A00;
}
.button-three{
    width: 567px;
    background: #00AEC0;
}

@media (max-width: 1024px) {
    .img2{
        flex-direction: row;
        height: 100%;
    }
    .img2-button{
        height: 3rem;
        width: 33.3vw;
        border: 1px solid #FFFFFF;
        border-radius: 0px;
        text-align: center;
        padding-right: 0;
        justify-content: center;
        font-size: 3.5vw;
    }
}

@media (max-width: 660px) {
    .img-cont1{
        flex-direction: column;
        align-items: start;
    }
    .img1{
        max-width: 588px;
        width: 100%;
    }
    .text-cont1{
        width: 100%;
    }
    .hero-small-text{
        margin-top: 2rem;
        padding: 0 2rem;
    }
}